<h1><%=@user.username%></h1>

<ul>
  <% @user.bbts.each do |btt|%>
  <li><%= bbt.name %></li>
  <li><%= bbt.brand %></li>
  <li><%= bbt.sugar_amount %></li>
  <li><%= bbt.type %></li>
  <li><%= bbt.size %> </li>
  <li><a href="/btts/<%=btt.id%>/edit">EDIT</a></li>
  <% end %>
</ul>

<a href="/logout">Log Out</a>
