<h1> You are now edting <%= @bbt.name %> now.</h1>
<form method="POST" action="/bbts/<%=@bbt.id%>">
  <input type="hidden" name="_method" id="hidden" value="patch">
  Bubbles:
  <input type="text" name="bubble" value="<%=@bbt.bubble%>"><br>
  Brand:
  <input type="text" name="brand" value="<%=@bbt.brand%>"><br>
  Sugar Amount:
  <input type="text" name="sugar_amount" value="<%=@bbt.sugar_amount%>"><br>
  Size:
  <input type="text" name="size" value="<%=@bbt.size%>"><br>
  Hot or Cold:
  <input type="text" name="temp" value="<%=@bbt.temp%>"><br>
  <input type="submit" value="Edit">
</form>
<a href="/logout">Log Out</a>
