<h1>Hello, <%=current_user.username%></h1>

<% @bbts.each do |bbt| %>
  <h3><a href="/users/<%=bbt.user%>"></a> </h3>
  <p><%= bbt.name %></p>
  <p><%= bbt.brand %></p>
  <a href="/bbts/<%=bbt.id%>">View this bubbletea</a>
  <br></br>
<% end %>
  <br></br>
  <a href="/bbts/new">New bubbletea</a>
  <a href="/logout">Log Out</a>
