<h2><%= @bbt.user.username %></h2>
<p>Name: <%= @bbt.name%>:<br>
  Bubbles: <%= @bbt.bubble%><br>
  Brand: <%= @bbt.brand%><br>
  Sugar Amount:<%= @bbt.sugar_amount%><br>
  Size: <%= @bbt.size%><br>
  Hot or Cold: <%= @bbt.temp%></p>

<% if @bbt.user == current_user %>
  <form method="post" action="/bbts/<%=@bbt.id%>/delete">
    <input type="submit" value="Delete Bubbletea">
  </form>
  <a href="/bbts/<%=@bbt.id%>/edit">Edit Bubbletea</a>
<% end %>
