<h2><%= @bbt.user.username %></h2>
<p><%= @bbt.name%>:<br>
  <%= @bbt.brand%><br>
  <%= @bbt.sugar_amount%><br>
  <%= @bbt.size%><br>
  <%= @bbt.temp%></p>

<% if @bbt.user == current_user %>
  <form method="post" action="/bbts/<%=@bbt.id%>/delete">
    <input type="submit" value="Delete Bubbletea">
  </form>
  <a href="/bbts/<%=@bbt.id%>/edit">Edit Bubbletea</a>
<% end %>
